<html ng-app="Safe-Walker">
		<header>
			<title><%= title %></title>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="core.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="jquery.tinyMap.min.js"></script>

</header>
<body ng-controller="mainController" data-ng-init="getList()">
<div id="map" class="map"></div>
<br><br>

</body>
<style>
.map{width:auto;height:500px;background:#f0f0f0;color:#000}
</style>

	<table class="table table-hover">
		<thead>
				 <tr>
      		<th class="col-md-1">activity</th>
					<th class="col-md-1">time</th>
					<th class="col-md-1">distance</th>
					<th class="col-md-1">altitude</th>
					<th class="col-md-1">horizontalAccuracy</th>
					<th class="col-md-1">verticalAccuracy</th>
					<th class="col-md-1">steps</th>
					<th class="col-md-1">floorsAscended</th>
					<th class="col-md-1">floorsDescended</th>
					<th class="col-md-1">latitude</th>
					<th class="col-md-1">longitude</th>
    </tr>
		</thead>
		<tbody>
				<tr ng-repeat="data in MotionData">
						<td ng-click="deleteData(data._id)">{{ data.activity }}</td>
						<td>{{ data.time | date:'yyyy-MM/d HH:mm:ss' }}</td>
						<td>{{ data.distance }}</td>
						<td>{{ data.altitude }}</td>
						<td>{{ data.horizontalAccuracy }}</td>
						<td>{{ data.verticalAccuracy }}</td>
						<td>{{ data.steps }}</td>
						<td>{{ data.floorsAscended }}</td>
						<td>{{ data.floorsDescended }}</td>
						<td>{{ data.latitude }}</td>
						<td>{{ data.longitude }}</td>
				</tr>
		</tbody>
</table>

</body>
<script>
	$.get( "/getList", function( data ) {
			var placeArr = [];

			$.each( data, function( i, raw ) {
				var addr = [];
				addr.push(raw.latitude);
				addr.push(raw.longitude);
				var place = { "text":raw.time+" "+raw.activity+" hor:"+raw.horizontalAccuracy,"addr": addr  };
				placeArr.push(place);
			});

		$('#map').tinyMap({ // 25.175654, 121.449588

						center: {x: '25.175654', y: '121.449588'},
						zoom: 5,
						marker: placeArr,
						markerFitBounds: true,
						streetViewControl:true,
						mapTypeControl:true,
						scaleControl:true
		});




	});



</script>
</html>
