<html ng-app="Safe-Walker">
		<header>
			<title><%= title %></title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="core.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://app.essoduke.org/tinyMap/markerclusterer.js"></script>
<script src="jquery.tinyMap-2.9.9.min.js"></script>
<% include header.ejs %>
<style>
.map{width:auto;height:500px;background:#f0f0f0;color:#000}
</style>
</header>
<body ng-controller="mainController" data-ng-init="getList()">
<div id="map" class="map"></div>
	<br>
	<div>
		<label>Search:</label>
		<input type="text" ng-model="search">
	</div>
	<table class="table table-hover">
		<thead>
				 <tr>
      		<th class="col-md-1">activity</th>
					<th class="col-md-1">time</th>
					<th class="col-md-1">altitudeLog</th>
					<th class="col-md-1">altitude</th>
					<th class="col-md-1">horizontalAccuracy</th>
					<th class="col-md-1">verticalAccuracy</th>
					<th class="col-md-1">steps</th>
					<th class="col-md-1">floorsAscended</th>
					<th class="col-md-1">floorsDescended</th>
					<th class="col-md-1">latitude</th>
					<th class="col-md-1">longitude</th>
    </tr>
		</thead>
		<tbody>
				<tr ng-repeat="data in MotionData  | orderBy:'time' | filter:search">
						<td ng-click="deleteData(data._id)">{{ data.activity }}</td>
						<td>{{ data.time | date:'yyyy-MM/d HH:mm:ss' }}</td>
						<td>{{ data.altitudeLog }}</td>
						<td>{{ data.altitude }}</td>
						<td>{{ data.horizontalAccuracy }}</td>
						<td>{{ data.verticalAccuracy }}</td>
						<td>{{ data.steps }}</td>
						<td>{{ data.floorsAscended }}</td>
						<td>{{ data.floorsDescended }}</td>
						<td>{{ data.latitude }}</td>
						<td>{{ data.longitude }}</td>
				</tr>
		</tbody>
</table>

</body>
</html>
